@model MVC.Models.Employee

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="font-family:Arial">
    <h2>Create Employee</h2>

    @using (Html.BeginForm())
    {
        <table class="table">
            <tr>
                <td>@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                <td>@Html.TextBoxFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                <td>@Html.TextBoxFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td>@Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                <td>@Html.TextBoxFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td>@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                <td>@Html.TextBoxFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td>@Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.Departments.Name, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                <td>@Html.DropDownListFor(x => Model.SelectedDepartmentId, new SelectList(Model.DeptList, "Id", "Name"), "-- Select Department --", htmlAttributes: new { @class = "form-control" })</td>
            </tr>
        </table>

        <input type="submit" value="Create" class="btn btn-primary" />
    }
</div>
