@model MVC.Models.Employee
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script type="text/javascript">
        $('#btncreate').click(function () {
            var employee = {};

            employee.Name = $('#txtname').val();
            employee.Salary = $('#txtsalary').val();
            employee.Email = $('#txtemail').val();
            employee.Gender = $('#txtgender').val();

            $.ajax({
                url: '/JqueryApp/Create',
                contentType: 'application/json; charset=utf-8',
                method: 'post',
                data: '{emp:' + JSON.stringify(employee) + '}',
                success: function (data) {

                },
                error: function (err) {

                }
            });
        });
    </script>*@

<div style="font-family:Arial">
    <h2>Create Employee</h2>

    @*@using (Html.BeginForm())
        {

        }*@

    <table class="table">
        <tr>
            <td>@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })</td>
            @*<td>@Html.TextBoxFor(model => model.Name, new { htmlAttributes = new { id = "txtname", @class = "form-control" } })</td>*@
            <td><input id="txtname" class="form-control" type="text" name="Name" value="" /></td>
            <td>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</td>

        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-2" })</td>
            @*<td>@Html.TextBoxFor(model => model.Salary, new { htmlAttributes = new { id = "txtsalary", @class = "form-control" } })</td>*@
            <td><input id="txtsalary" class="form-control" type="text" name="Salary" value="" /></td>
            <td>@Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })</td>
            @*<td>@Html.TextBoxFor(model => model.Email, new { htmlAttributes = new { id = "txtemail", @class = "form-control" } })</td>*@
            <td><input id="txtemail" class="form-control" type="text" name="Email" value="" /></td>
            <td>@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })</td>
            @*<td>@Html.TextBoxFor(model => model.Gender, new { htmlAttributes = new { id = "txtdender", @class = "form-control" } })</td>*@
            <td><input id="txtgender" class="form-control" type="text" name="Gender" value="" /></td>
            <td>@Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.Departments.Name, htmlAttributes: new { @class = "control-label col-md-2" })</td>
            <td>@Html.DropDownListFor(x => Model.SelectedDepartmentId, new SelectList(Model.DeptList, "Id", "Name"), "-- Select Department --", htmlAttributes: new { @class = "form-control" })</td>
        </tr>
    </table>

    <input id="btncreate" type="button" value="Create" class="btn btn-primary" />
</div>
